Print the following patterns:
Pattern 1:
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range (1,6):
  for j in range (0,i):
    print(i, end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Pattern 2:
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range (1,6):
  for j in range (i,6):
    print(i, end=" ")
  print("")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

Pattern 3:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range (1,6):
  for j in range (1,i+1):
    print(j, end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Pattern 4:
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
a=5
for i in range (1,6):
  for j in range (i,6):
    print(a, end=" ")
  print("")
  a-=1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

Pattern 5:
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
for i in range (1,6):
  for j in range (i,6):
    print(5, end=" ")
  print("")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5