Experiment 18

The datetime module provides date and time objects that are similar to the Date and Time objects in this chapter, but they provide a rich set of methods and operators. Read the documentation at http: // docs. python. org/ 2/ library/datetime. html . 

1. Use the datetime module to write a program that gets the current date and prints the day of the week.

In [ ]:
from datetime import datetime
today=datetime.now()
weekday=today.strftime("%A")
print(weekday)

Tuesday

2. Write a program that takes a birthday as input and prints the user’s age and the number of days, hours, minutes and seconds until their next birthday.

In [ ]:
import datetime
birthday=input("Wheen is your next birthday?(in DD/MM/YYYY):")  
birthdate=datetime.datetime.strptime(birthday,"%d/%m/%Y").date()  
today=datetime.date.today();  
days=birthdate-today;  
print(days.days);

309

3. For two people born on different days, there is a day when one is twice as old as the other. That’s their Double Day. Write a program that takes two birthdays and computes their Double Day.

In [ ]:
import datetime

def double_day(b_day1, b_day2):
    if(b_day1>b_day2):
        start_date=b_day1
    else:
        start_date=b_day2

    for i in range(100*365):
        c_date=start_date+datetime.timedelta(days=i)
        d1=c_date-b_day1
        d2=c_date-b_day2
        if(d1>d2):
            if(d1.days==2*d2.days):
                print(c_date.strftime("%d-%m-%Y"))
        else:
            if(d2.days==2*d1.days):
                print(c_date.strftime("%d-%m-%Y"))
                
b_day1=input("Enter first birthday (DD-MM-YYYY)? ")
b_day1=datetime.datetime.strptime(b_day1,"%d/%m/%Y").date()  
b_day2=input("Enter second birthday (DD-MM-YYYY)? ")
b_day2=datetime.datetime.strptime(b_day2,"%d/%m/%Y").date()
double_day(b_day1, b_day2)

15-10-2003

4. For a little more challenge, write the more general version that computes the day when one person is n times older than the other.

In [ ]:
import datetime

def find_n_times_day(bday1, bday2, n):
    person1 = datetime.date(*bday1)
    person2 = datetime.date(*bday2)
    age_diff = -(person1 - person2)
    p1 = int(age_diff.days)
    p2 = 0
    while p2 * n != p1:
        if p2 * n > p1:
            print("This never precisely occurred")
            return None
        p1 += 1
        p2 += 1
    date_at_n_times_age = person2 + datetime.timedelta(days=p2)
    print(date_at_n_times_age,"\n","person 1 was %d days old, and person 2 was %d days old" % (p1, p2))

tup_1=(2002,8,9)
tup_2=(2005,3,13)
find_n_times_day(tup_1,tup_2,2)

2007-10-16
 person 1 was 1894 days old, and person 2 was 947 days old