Experiment 11

1. WAP to convert the elements of two lists into key-value pairs of a dictionary.

In [ ]:
list_1=[1,2,3,4,5,6]
list_2=["a","b","c","d","e","f"]
dict_1={}
for i in range (len(list_1)):
    dict_1.update({list_1[i]:list_2[i]})
print("List 1:",list_1)
print("List 2:",list_2)
print("Dictionary made using List 1 and List 2: ",dict_1)

List 1: [1, 2, 3, 4, 5, 6]
List 2: ['a', 'b', 'c', 'd', 'e', 'f']
Dictionary made using List 1 and List 2:  {1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

2. WAP to find the common elements in two lists.

In [ ]:
list_1=[35,65,15,38,61,68,94,48]
list_2=[32,14,28,26,78,71,63,33,49,94]
print("List 1:",list_1)
print("List 2:",list_2)
for i in range (len(list_1)):
    for j in range (len(list_2)):
        if(list_1[i]==list_2[j]):
            print("Common element is:",list_1[i])

List 1: [35, 65, 15, 38, 61, 68, 94, 48]
List 2: [32, 14, 28, 26, 78, 71, 63, 33, 49, 94]
Common element is: 94

3. WAP to modify an existing element of a tuple with a new element.

In [ ]:
tup_1=(1,3,9,7,5,6)
print("Tuple Before Update:",tup_1)
list_1=list(tup_1)
list_1[3]=56
tup_1=tuple(list_1)
print("Tuple After Update:",tup_1)

Tuple Before Update: (1, 3, 9, 7, 5, 6)
Tuple After Update: (1, 3, 9, 56, 5, 6)

4. WAP to delete an element from a particular position in a tuple.

In [ ]:
tup_1=(26,35,64,97,45,12)
print("Tuple before removing an element:",tup_1)
list_1=list(tup_1)
list_1.remove(97)
tup_1=tuple(list_1)
print("Tuple after removing an element:",tup_1)

Tuple before removing an element: (26, 35, 64, 97, 45, 12)
Tuple after removing an element: (26, 35, 64, 45, 12)