EXPERIMENT 4

1. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number
Return the absolute value of the argument.

In [ ]:
help_var=input("Enter a valid function to get info:")
print("Info about:\n",help_var)
print(help(help_var))

Enter a valid function to get info:abs
Info about:
 abs
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

None

2. With the help of an example explain all the operations that can be performed on Tuples and Sets.

In [ ]:
#TUPLES
#creating a tuple:
# a tuple may contain any data type values:
tup_1=("Hello","rage","call of duty",28)
print("Tuple created is:",tup_1)
print("Element at index 1 in the tuple tup_1 is:",tup_1[1])
#creating an empty tuple:
tup_2=()
print("tup_2 is(empty):",tup_2)
tup_3=(1,) #is a tuple
print("tup_3 is:",type(tup_3))
tup_4=(1) # whereas tup_4=(1) is an integer and not a tuple
print("tup_4 is:",type(tup_4))
#tuple slicing
print("Tuple tup_1[1:3] is:",tup_1[1:3])
#modifying tup_2
tup_2=(1,2,3,4,5,6)
print("tup_2 after modification:",tup_2)
#tuple concatenation
tup_3=tup_1+tup_2
print("tup_3 after adding tup_1+tup_2 in it:",tup_3)
#tuple multiplication
print("tup_2 after multiplying it with 2:",tup_2*2)
#checking
print("Checking if 10 is there in tup_3:",10 in tup_3)
print("Checking if 6 is there in tup_3:",6 in tup_3)
print("Checking if 10 is not there in tup_3:",10 not in tup_3)
print("Checking if 6 is not there in tup_3:",6 not in tup_3)
#min max
print("Max in tup_2 is:",max(tup_2))
print("Min in tup_2 is:",min(tup_2))
#index
print("Index of 4 in tup_2 is:",tup_2.index(4))
#count
print("No. of occurances of 2 in tup_2 is:",tup_2.count(2))
#conversion to tuple
not_a_tuple="Python"
print("Type of not_a_tuple:",type(not_a_tuple))
not_a_tuple=tuple(not_a_tuple)
print("Type of not_a_tuple after conversion:",type(not_a_tuple))
print("Elements in not_a_tuple:",not_a_tuple)
list=["c++",1,27.6,"char"] #creating a list
print("Type of list:",type(list))
not_a_list=tuple(list)
print("Type of not_a_list:",type(not_a_list))

Tuple created is: ('Hello', 'rage', 'call of duty', 28)
Element at index 1 in the tuple tup_1 is: rage
tup_2 is(empty): ()
tup_3 is: <class 'tuple'>
tup_4 is: <class 'int'>
Tuple tup_1[1:3] is: ('rage', 'call of duty')
tup_2 after modification: (1, 2, 3, 4, 5, 6)
tup_3 after adding tup_1+tup_2 in it: ('Hello', 'rage', 'call of duty', 28, 1, 2, 3, 4, 5, 6)
tup_2 after multiplying it with 2: (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
Checking if 10 is there in tup_3: False
Checking if 6 is there in tup_3: True
Checking if 10 is not there in tup_3: True
Checking if 6 is not there in tup_3: False
Max in tup_2 is: 6
Min in tup_2 is: 1
Index of 4 in tup_2 is: 3
No. of occurances of 2 in tup_2 is: 1
Type of not_a_tuple: <class 'str'>
Type of not_a_tuple after conversion: <class 'tuple'>
Elements in not_a_tuple: ('P', 'y', 't', 'h', 'o', 'n')
Type of list: <class 'list'>
Type of not_a_list: <class 'tuple'>

In [ ]:
#SETS
#creating a set:
# a set may contain any data type values:
set_1=("Rage",True,17.6,28)
print("Type of set_1 is:",type(set_1))
print("Set created is:",set_1)
print("Element at index 1 in the set set_1 is:",set_1[1])
#creating an empty set:
set_2={} #is a dctionary
print("Type of set_2 is:",type(set_2))
set_3=set() #empty set
print("Type of set_3:",type(set_3))
print("set_3 is(empty):",set_3)
#adding an elemet to a set:
set_3.add(20)
set_3.add(30)
set_3.add(40)
set_3.add(50)
print("set_3 after adding elements to it:",set_3)
#updating a set:
set_3.update(set_1)
print("set_3 after updating:",set_3)
#removing from a set
set_3.remove(20)
#discarding from a set
set_3.discard(50)
print("set_3 after discarding 50 from it:",set_3)
#popping from a set
set_3.pop()
#clearing a set
set_3.clear()
print("set_3 after clear():",set_3)
#max min
set_4={1,5,6,3,9}
print("Max in set_4 is:",max(set_4))
print("Min in set_4 is:",min(set_4))
#sum()
print("Sum of all the elements in the set_4 is:",sum(set_4))
#issubset()
set_5={1,3,5}
print("Checking if set_5 is a subset of set_4:",set_5.issubset(set_4))
#issuperset()
print("Checking if set_4 is a superset of set_5:",set_4.issuperset(set_5))
#union()
set_6={23,546}
print("Union of set_6 and set_4:",set_4.union(set_6))
#intersection()
print("Intersection of set_5 and set_4:",set_5.intersection(set_4))
#difference()
print("After subtracting set_5 from set_4:",set_4.difference(set_5))
#sorting
print("set_4 after sorting:",sorted(set_4))

Type of set_1 is: <class 'tuple'>
Set created is: ('Rage', True, 17.6, 28)
Element at index 1 in the set set_1 is: True
Type of set_2 is: <class 'dict'>
Type of set_3: <class 'set'>
set_3 is(empty): set()
set_3 after adding elements to it: {40, 50, 20, 30}
set_3 after updating: {True, 40, 17.6, 50, 20, 'Rage', 28, 30}
set_3 after discarding 50 from it: {True, 40, 17.6, 'Rage', 28, 30}
set_3 after clear(): set()
Max in set_4 is: 9
Min in set_4 is: 1
Sum of all the elements in the set_4 is: 24
Checking if set_5 is a subset of set_4: True
Checking if set_4 is a superset of set_5: True
Union of set_6 and set_4: {1, 546, 3, 5, 6, 23, 9}
Intersection of set_5 and set_4: {1, 3, 5}
After subtracting set_5 from set_4: {9, 6}
set_4 after sorting: [1, 3, 5, 6, 9]